<mat-toolbar class="mat-elevation-z4">
  <img class="logo" src="https://azing.org/Portals/_default/skins/azing/images/logo.svg" alt="Azing Logo">
  <!-- <h1 class="mat-h1">Azing Styleguide</h1> -->
</mat-toolbar>
<div fxLayout="row" fxLayoutAlign="center center">
  <div>
    <h1 class="main-title mat-display-3">Azing Styleguide</h1>
    <h2 class="mat-h2">For developing Material Design Applications.</h2>
  </div>
  <div class="content" fxLayout="row" fxLayoutAlign="center center">
    <div>
      <mat-card class="mat-elevation-z2">
        <h1 class="mat-h1">Color</h1>
        <h3 class="mat-subheading-2">Primary</h3>
        <mat-divider></mat-divider>
        <div class="colors">
          <div class="color mat-body-2" [style.background-color]="color[1]" *ngFor="let color of primaryColors">{{color[0]}}</div>
        </div>
        <h3 class="mat-subheading-2">Accent</h3>
        <mat-divider></mat-divider>
        <div class="colors">
          <div class="color mat-body-2" [style.background-color]="color[1]" *ngFor="let color of accentColors">{{color[0]}}</div>
        </div>
      </mat-card>
      <mat-card class="mat-elevation-z2">
        <h1 class="mat-h1">Buttons</h1>
        <div class="default-spacing mat-body-1" fxLayout="row" fxLayoutAlign="center center">
          Fab
          <span fxFlex></span>
          <button mat-fab>
            <mat-icon>check</mat-icon>
          </button>
        </div>
        <div class="default-spacing mat-body-1" fxLayout="row" fxLayoutAlign="center center">
          Confirm
          <span fxFlex></span>
          <button mat-raised-button color="accent">save</button>
        </div>
        <div class="default-spacing mat-body-1" fxLayout="row" fxLayoutAlign="center center">
          Abort
          <span fxFlex></span>
          <button mat-stroked-button>cancel</button>
        </div>
      </mat-card>
      <mat-card class="mat-elevation-z2">
        <h1 class="mat-h1">Good ol' CSS</h1>
        <span class="mat-body-1">The <a target="_blank" [href]="themeCssLink">CSS theme</a> includes classes for typography, elevation and various MD components.</span>
      </mat-card>
    </div>
    <div>
      <mat-card class="mat-elevation-z2">
        <h1 class="mat-h1">Typography</h1>
        <div>
          <h3 class="mat-subheading-2">Large Headers</h3>
          h1.mat-display-1, h1.mat-display-2, h1.mat-display-3, h1.mat-display-4
          <br>
          <br>
          <mat-divider></mat-divider>
        </div><br>
        <h1 class="mat-h1" fxLayout="row">headline
          <span fxFlex></span>h1.mat-h1</h1>
        <h2 class="mat-h2" fxLayout="row">title
          <span fxFlex></span>h2.mat-h2</h2>
        <h3 class="mat-h3" fxLayout="row">subheading-2
          <span fxFlex></span>h3.mat-h3</h3>
        <h4 class="mat-h4" fxLayout="row">subheading-1
          <span fxFlex></span>h4.mat-h4</h4>
        <div class="mat-body-2" fxLayout="row">body-2
          <span fxFlex></span>.mat-body-2</div>
        <div class="mat-body-1" fxLayout="row">body-1
          <span fxFlex></span>.mat-body-1</div>
      </mat-card>
      <mat-card class="mat-elevation-z2">
        <h1 class="mat-h1">Angular Material</h1>
        <div class="mat-body-2">
          1. Import fonts into index.html
          <mat-form-field appearance="fill">
            <input matInput [value]="fontsLink">
          </mat-form-field>
        </div>
        <div class="mat-body-2">
          2. Add
          <a target="_blank" [href]="themeScssLink">theme.scss</a> to the project.
        </div>
        <div class="mat-body-2">
          3. Include it in style.scss
          <mat-form-field appearance="fill">
            <input matInput [value]="themeScssInclude">
          </mat-form-field>
        </div>
      </mat-card>
    </div>
  </div>
</div>
