@import '../theme.scss';
:host {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: mat-color($azing-theme-primary, 50);
  mat-toolbar {
    background: #fff;
    img.logo {
      height: 28px;
    }
  }
  .main-title {
    padding-right: 16px;
    margin-bottom: 8px;
  }
  mat-card {
    border-radius: 16px;
    width: 280px;
    margin: 32px 16px 0;
    vertical-align: top;
    .default-spacing {
      margin: 8px 0;
    }
    mat-form-field {
      width: 100%;
    }
    .colors {
      text-align: center;
      .color {
        cursor: default;
        display: inline-block;
        width: 36px;
        height: 36px;
        line-height: 36px;
        margin: 8px;
        text-align: center;
        &:nth-of-type(n+6) {
          color: #fff;
        }
      }
    }
  }
}
